<form method="post" action="{{ path('defis_delete', {'id': defi.id}) }}" onsubmit="return confirm('Etes vous sur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ defi.id) }}">
    <button class="btn">Effacer</button>
</form>
