<button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#modal_uploadLogo">
    Uploader une photo
</button>
<div class="modal fade" id="modal_uploadLogo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                {{ form_start(form , {'action': path('uploadPhoto',{'joueurId': joueur.playerId})}) }}
                {{ form_row(form.photo,{'attr' : {'accept' : '.png, .jpg'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>