<h1 class="text-center">Dernières news</h1>
<div class="card">
    <ul class="list-group list-group-flush">
        {% for new in news %}
            <li class="list-group-item">{{ new.date|date("d/m/Y")  }} - {{ new.messages|raw }}</li>
        {% endfor %}
    </ul>
</div>
<p class="text-right"><a href="{{ path('infosCompletes') }}">Voir tout</a></p>