<tr>
	<td>
		<button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#addplayer" data-backdrop="false"><plus class="glyphicon glyphicon-plus"></plus> Ajouter Un joueur</button>

<div class="modal fade" id="addplayer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		Ajouter un joueur
      </div>
      <div class="modal-body">

		<div class="dropdown" id="teamdrop">
			<button id="dLabel" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Position
				<span class="caret"></span>
			</button>
			<ul id="selectedPos" class="dropdown-menu" aria-labelledby="dLabel">
			{% for playerposition in playerpositions %}
				<li><a href=# posId="{{playerposition.posId}}">{{playerposition.pos}}</a></li>
			{% endfor %}
			</ul>
		</div>  
	  </div>
      <div class="modal-footer">
	  <button type="button" class="btn btn-default" id="btn_addplayer"  teamId="{{teamId}}" >Ajouter</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

	</td>
</tr>

