{% extends "statbb/base.html.twig" %}
      
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#allteam">Toutes les équipes</a></li>
                <li><a data-toggle="tab" href="#classement">Classement général</a></li>
                {% if app.user.roles["role"] == 'ROLE_ADMIN' %}
                    <li><a data-toggle="tab" href="#match">Ajouter un match</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    {{ render(controller('App\\Controller\\StatBBController::showUserTeams' )) }}
                </div>
                <div id="allteam" class="tab-pane fade">
                    <h3>Toute les équipes</h3>
                    {{ render(controller('App\\Controller\\StatBBController::montreLesEquipes' )) }}
                </div>
                <div id="classement" class="tab-pane fade">
                    {{ render(controller('App\\Controller\\StatBBController::classGen')) }}
                </div>
                {% if app.user.roles["role"] == 'ROLE_ADMIN' %}
                <div id="match" class="tab-pane fade">
                    {{ render(controller('App\\Controller\\StatBBController::ajoutMatch' )) }}
                </div>
                {% endif %}
            </div>
        </div>
        </div>
    </div>

{% endblock %}
		
