{
    "timeout": 10,
    "source": {
        "directories": [
            "src\/"
        ],
        "excludes": [
            "Entity",
            "Repository",
            "Migrations",
            "Controller",
            "DataFixtures",
            "Enum"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}