{
    "timeout": 10,
    "source": {
        "directories": [
            "src\/",
            "src\/kernel.php"
        ],
        "excludes": [
            "Entity",
            "Repository"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}