parameters:
    checkGenericClassInNonGenericObjectType: false
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
    excludes_analyse:
            - %rootDir%/../../../src/Tools
            - %rootDir%/../../../src/Repository
    ignoreErrors:
        - '#.+listePrimeEnCours.+#'
        - '#.+mortPourlAnnee.+#'
        - '#.+listeDesJoueursActifsPourlEquipe.+#'
        - '#.+numeroDeMatch.+#'
        - '#.+classement.+#'
        - '#.+listeDesMatchsdUnJoueur.+#'
        - '#.+listeDesJoueursPourlEquipe.+#'
        - '#.+listeDesMatchs.+#'
        - '#.+listeDefisEnCours.+#'
        - '#.+object::getCoachId\(\).+#'
        - '#.+object::getPasswd\(\).+#'
        - '#.+object::setPasswd\(\).+#'
        - '#.+UserPasswordEncoder::encodePassword\(\).+#'
        - '#Argument of an invalid type .+ supplied for foreach.+#'
        - '#tousLesMatchDuneAnneClassementChrono.+#'
        - '#toutesLesEquipesDunCoachParAnnee.+#'
        - '#toutesLesIconesDunePosition.+#'
        - '#requeteEquipeLike.+#'
        - '#tousLesMatchsDeDeuxCoach.+#'
        - '#blessuresMatch.+#'
        - '#getBlessuresMatch.+#'
        - '#historiqueBlessures.+#'
        - '#getHistoriqueBlessures.+#'
        - '#pointsBonus.+#'
        - '#sousClassementJoueur.+#'
        - '#sousClassementEquipeFournisseurDeCadavre.+#'
        - '#sousClassementEquipe.+#'
        - '#totalcas.+#'
        - '#tousLesMatchDuneAnne.+#'
        - '#tousLesAutresCoaches.+#'
        - '#listeDeDefisActifPourLeMatch.+#'
        - '#nbrCoachAyantUneEquipelAnneeEnCours.+#'
        - '#listeDesJournaliersDeLequipe.+#'
        - '#listeDesJoueursdUnMatch.+#'
        - '#listePenaliteEnCours.+#'
        - '#scoreDuneEquipe.+#'
        - '#scoreDetailDuneEquipe.+#'
        - '#penaliteDuneEquipe.+#'
        - '#setDate.+#'
        - '#findByName.+#'
