includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
	symfony:
		container_xml_path: '%rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml'
	ignoreErrors:
	    - '#.+listePrimeEnCours.+#'
	    - '#.+mortPourlAnnee.+#'
	    - '#.+listeDesJoueursActifsPourlEquipe.+#'
	    - '#.+numeroDeMatch.+#'
	    - '#.+classement.+#'
	    - '#.+listeDesMatchsdUnJoueur.+#'
	    - '#.+listeDesJoueursPourlEquipe.+#'
	    - '#.+listeDesMatchs.+#'
	    - '#.+listeDefisEnCours.+#'
	    - '#.+object::getCoachId().+#'
	    - '#.+object::getPasswd().+#'
	    - '#.+object::setPasswd().+#'
	    - '#.+UserPasswordEncoder::encodePassword().+#'
	    - '#Argument of an invalid type .+ supplied for foreach.+#'
	    - '#tousLesMatchDuneAnneClassementChrono.+#'
	    - '#toutesLesEquipesDunCoachParAnnee.+#'
	    - '#toutesLesIconesDunePosition.+#'
	    - '#requeteEquipeLike.+#'
	autoload_directories:
		- %rootDir%/../../../src/Migrations
	excludes_analyse:
	    - %rootDir%/../../../src/Tools
