{% extends 'statbb/base.html.twig' %}

{% block title %}Edit Players{% endblock %}

{% block body %}
<div class="m-2">
    <div class="card">
    <h1>Edit Players</h1>

    {{ include('statbb/admin/players/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('players_index') }}">back to list</a>

    {{ include('statbb/admin/players/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
