{% extends 'statbb/base.html.twig' %}

{% block title %}Nouveau Joueur{% endblock %}

{% block body %}
<div class="m-2">
    <div class="card">
    <h1>Ajouter Nouveau Joueur</h1>

    {{ include('statbb/admin/players/_form.html.twig') }}

    <a href="{{ path('players_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
