
    <div class="card">
        <div class="card-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active"  href="#user">Citations</a>
                    </li>
                </ul>


                <div class="tab-content">
                    <div id="user" class="tab-pane fade show active" >
                        {{ render(controller('App\\Controller\\UtilisateurController::interfaceUtilisateur')) }}
                    </div>
                </div>
        </div>
    </div>
