
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12 col-lg-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#user">Citations</a></li>
                </ul>
                <div class="tab-content">
                    <div id="user" class="tab-pane fade in active" >
                        {{ render(controller('App\\Controller\\UtilisateurController::interfaceUtilisateur')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
