<div class="card">
    <div class="card-body">
        <br/>
        {% if app.user.roles["role"] == 'ROLE_ADMIN' %}
            <a href="{{ path('Admin') }}">Admin</a>
        {% endif %}
        <br/>
        {{ render(controller('App\\Controller\\UtilisateurController::interfaceUtilisateur')) }}
    </div>
</div>
