{% extends 'base.html.twig' %}

{% block title %}New Players{% endblock %}

{% block body %}
    <h1>Create new Players</h1>

    {{ include('players/_form.html.twig') }}

    <a href="{{ path('players_index') }}">back to list</a>
{% endblock %}
