@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import url("https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css");

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

$font-size-base: 0.99em;
$font-size-base2: 0.95em;




@media print {

  table{
    font-size: $font-size-base2;
  }

  body {

    background-color: red;

  }

}

@media  screen and (max-width: 768px) {


  body {

    padding-top: 125px;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-size: 100%;

  }


  div{

    font-size: $font-size-base2;

  }

  .bg-white {

    background-color: white;

  }

  #login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
  }

  #login-dp .help-block {
    font-size: 12px
  }

  #login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
  }

  #login-dp .social-buttons {
    margin: 12px 0
  }

  #login-dp .social-buttons a {
    width: 49%;
  }

  #login-dp .form-group {
    margin-bottom: 10px;
  }

  .btn-fb {
    color: #fff;
    background-color: #3b5998;
  }

  .btn-fb:hover {
    color: #fff;
    background-color: #496ebc
  }

  .btn-tw {
    color: #fff;
    background-color: #55acee;
  }

  .btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
  }




}



@media  (min-width: 768px) {

  body {

    padding-top: 65px;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-size: 100%;

  }

  div{

    font-size: $font-size-base;
  }

  //navbar login form


  #login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
  }

  #login-dp .help-block {
    font-size: 12px
  }

  #login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
  }

  #login-dp .social-buttons {
    margin: 12px 0
  }

  #login-dp .social-buttons a {
    width: 49%;
  }

  #login-dp .form-group {
    margin-bottom: 10px;
  }

  .btn-fb {
    color: #fff;
    background-color: #3b5998;
  }

  .btn-fb:hover {
    color: #fff;
    background-color: #496ebc
  }

  .btn-tw {
    color: #fff;
    background-color: #55acee;
  }

  .btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
  }


  .bg-white {

    background-color: white;

  }

  .footer-custom {

    padding: 20px;

  }

}
