{% extends 'statbb/base.html.twig' %}

{% block title %}New Coaches{% endblock %}

{% block body %}
<div class="m-2">
    <div class="card">
    <h1>Create new Coaches</h1>

    {{ include('statbb/admin/coaches/_form.html.twig') }}

    <a href="{{ path('coaches_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
